.movie-discover-form{
    width: 100%;
    height: 100%;
}


.discover-add-btn{
    float: left;
    font-size: 2vw;
    background: transparent;
    color: white;
    font-weight: 100;
    cursor: pointer;
    transition: 0.2s;
    outline-style: none;
    border: none;
}

.discover-add-btn.active{
    color: green;
    border: 0.3vh solid green;
    transition: 0.2s;
    transform-origin: center;
    transform: rotate(45deg);
    outline-style: none;
}


.discover-option-list{
    height: 4vh;
    line-height: 4vh;
    display: none;
    opacity: 0;
    float: left;
    margin: 0;
}

.discover-option-list.hidden{
    display: none;
    transition: 0.2s;
}

.discover-option-list.selected li:not(.active){
    display: none;
    transition: 0.3s;
}

.discover-add-btn.active ~ .discover-option-list:not(.hidden){
    display: block;
    opacity: 1;
    transition: 0.3s;
}

.discover-option-btn{
    list-style-type: none;
    color: white;
    margin-left: 3vw;
    width: 8vw;
    float: left;
    border: 2px solid white;
    font-size: 0.9vw;
    transition: 0.2s;
    cursor: pointer;
}

.discover-search-input{
    height: 1.5vw;
    width: 35vw;
    display: none;
    float: left;
    opacity: 0;
}

.discover-option-list.hidden ~ .discover-search-input{
    display: block;
    opacity: 1;
    transition: 0.3s;
    
}

.discover-option-btn:hover{
    color: green;
    border: 0.25vh solid green;
    transition: 0.2s;
}

.discover-row{
    width: 100%;
    float: left;
    margin-bottom: 2vw;
}

.selected-discover-option{
    margin-left: 0;
    height: 2vw;
    color: white;
    width: 7vw;
    float: left;
    font-size: 0.9vw;
    line-height: 2.2vw;
    display: none;
    opacity: 0;
}

.selected-discover-option.active{
    display: block;
    opacity: 1;
    transition: 0.2s;
}

