.search-page{
    width: 100%;
    min-height: 50vw;
    background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url('../../images/background.jpg');
    background-size: 100% 100%;
    color: white;
    display: inline-block
}

.search-message-container{
    width: 100%;
    font-style: italic;
    display: inline-block;
    margin-top: 2vw;
}

.search-message{
    width: 90%;
    font-size: 2vw;
    text-align: left;
    font-weight: 500;
    margin: 4vw 0 1vw 5%;
    border-bottom: 1px solid white;
}

.prev-page{
    left: 30%;
}

.current-page{
    position: absolute;
    left: 50%;
    margin-top: 1.5vw;
}

.next-page{
    right: 30%;
}

.search-no-result-txt{
    height: 19vw;
    text-align: center;
    font-size: 2vw;
    padding-top: 11vw;
}