.search-page{
    width: 100%;
    min-height: 100vh;
    background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url('../../images/background.jpg');
    background-size: 100% 100%;
    color: white;
    display: inline-block
}

.search-message-container{
    width: 100%;
    font-style: italic;
    display: inline-block;
    margin-top: 4vh;
}

.search-message{
    width: 90%;
    font-size: 4vh;
    text-align: left;
    font-weight: 500;
    margin: 8vh 0 2vh 5%;
    border-bottom: 0.1vh solid white;
}

.prev-page{
    left: 30%;
}

.current-page{
    position: absolute;
    left: 50%;
    margin-top: 3vh;
}

.next-page{
    right: 30%;
}

.search-no-result-txt{
    height: 38vh;
    text-align: center;
    font-size: 4vh;
    padding-top: 22vh;
}