.result-movie{
    float: left;
    width: 80%;
    margin: 3.5vw 0 0 10%;
    transition: all .2s;
    min-height: 23vw;
    overflow: overlay;
}

.result-movie:hover{
    transform: scale(1.05);
}

.search-movie-cover{
    width: 15vw;
    height: auto;
    float: left;
}

.search-info{
    width: 50vw;
    margin-left: 10vw;
    float: left;
    color: white;
}

.search-title{
    margin: 2.5vw 0 3vw 0;
    width: 100%;
    font-size: 1.8vw;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}

.search-overview{
    width: 100%;
    font-size: 1.2vw;
    text-align: left;
    text-indent: 2em;
    line-height: 2.5vw;
}

