.Detail{
    width: 100%;
    color: white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url("../../images//bg.jpeg");
    background-size: cover;
    overflow: overlay;
}

.detail-carousel-grid{
    float: left;
    width: 100%;
    min-height: 50vh;
    padding-bottom: 10vh;
}

.detail-carousel-header{
    width: 100%;
    height: 8vh;
    margin-top: 7vh;
}

.detail-carousel-header-text{
    color: white;
    font-size: 4vh;
    width: 90%;
    margin-left: 5%;
    text-align: left;
    border-bottom: 1px white solid;
}

.detail-carousel-display{
    width: 90%;
    height: 70%;
    margin: 5vh 0 0 5%;
    position: relative;
}

.detail-no-movies-text{
    font-size: 3vh;    
    padding-top: 10vh;
}

