.Carousel{
    color: white;
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 80vh;
    margin-bottom: 0vh;
    position: relative;
  }
  
  .carousel-left-button1{
    display: inline-block;
    margin-left:8vh;
    margin-top:25vh;
    font-size: 5vh;
    transition: all .2s ease;
  }

  .carousel-left-button{
    position: absolute;
    top:30vh;
    left: 10vh;
    font-size: 5vh;
    transition: all .2s ease;
    border:none;
    outline: none;
  }

  .carousel-right-button{
    position: absolute;
    top:30vh;
    right:10vh;
    font-size: 5vh;
    transition: all .2s ease;
    border:none;
    outline: none;
  }

.carousel-left-button:hover,
.carousel-right-button:hover{
    color: green;
    transform: scale(2.5);
}