.back-btn{
    position: absolute;
    top: 4vw;
    left: 1.5vw;
    font-size: 1.2vw;
    font-weight: 400;
    border:none;
    outline: none;
    transition: all .2s ease;
    color: white;
    background: transparent;
}

.back-btn:hover{
    color: green;
    transform: scale(1.2);
}