.page-navigation{
    border-top: 0.1vh solid white;
    width: 90%;
    margin: 5vw 5%;
    font-size: 1.5vw;
    font-weight: 300;
    color: white;
    float: left;
}

#prev-page{
    left: 30%;
}

#current-page{
    position: absolute;
    left: 50%;
    margin-top: 1.5vw;
}

#next-page{
    right: 30%;
}

.page-navigation button{
    position: absolute;
    margin-top: 1.5vw;
    background: transparent;
    border: none;
    font-size: 1.2vw;
    transition: all .2s;
    color: white;
    outline: none;
    cursor: pointer;
}

.page-navigation button:hover{
    transform: scale(1.1);
}