.error-message{
    height: 100vh;
    width: 100%;
    font-size: 3vh;
    float: left;
    color: white;
}

.error-text{
    width: 100%;
    font-size: 3vh;
    float: left;
    margin-top: 30vh;
    margin-left: 0vh;
}