.movie-list{
    float:left;
    height:100%;
    width: 98%;
    padding-left: 2%;
    margin-top: 0;
}

.no-movies{
    width: 100%;
    font-size: 3vh;
    margin-top: 5vh;
    margin-left: 35%;
    text-align: left;
}