.reviews{
    width: 84%;
    margin: 0vh 5% 0vh 5%;
    font-size: 5vh;
    margin-bottom: 10vh;
}
.header{
    width: 100%;
    float: left;
    text-align: left;
    font-weight: 700;
  }

  .list_reviews{
    margin-left: 8%;
  }

  .no-reviews{
      width: 100%;
      font-size: 3vh;
      margin-left: 30%;
      text-align: left;
  }
