.movie-list{
    float: left;
    height: 100%;
    width: 90%;
    padding: 0;
    margin-top: 0;
    margin-left: 5%;
}

.no-movies{
    width: 100%;
    font-size: 3vh;
    margin-top: 5vh;
    margin-left: 35%;
    text-align: left;
}