.navigation-bar {
    width: 100%;
    height: 7.5vh;
  }
  
  ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
  }

  li a{
    text-decoration: none;
  }
  
  .menu{
    font-weight: 450;
    display: block;
    color: white;
    text-align: center;
    padding: 2.1vh 4vh;
    font-size: 2.5vh;
    transition: color 0.2s, font-size 0.2s;
  }
  
  
  .menu:hover, Link:hover {
    background-color: #111;
    color: green;
    font-size: 2.9vh;
    transition: color 0.2s, font-size 0.2s;
  }
  

  .logo{
    max-width: 100%;
    max-height: 100%;
    width: 4vh;
    display: block;
    padding: 2vh 5vh;
  }

  .genre-list{
    display: none;
    margin-top: 7.4vh;
    width: 100%;
    position:absolute;
    background-color: #111;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .genre-list:hover{
    display:block;
  }

  .genre{
      font-weight: 300;
      display: block;
      color: white;
      text-align: center;
      padding: 2vh 4vh;
      font-size: 2.5vh;
      transition: color 0.2s, font-size 0.2s;
      text-decoration: none;
  }

  .genre:hover {
    background-color: #111;
    color: green;
    font-size: 2.5vh;
    transition: color 0.2s, font-size 0.2s;
  }

  #genre-menu:hover ~ .genre-list {display: block;}
  
  