.grid{
    color: white;
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 80vh;
  }
  
  
  .grid-header{
    float: left;
    margin: 4vh 5vh 0 5vh;
    text-align: left;
    font-weight: bold;  
    font-size: 5vh;
    width: 90%;
    box-sizing: border-box;
    border-bottom: solid white;
    padding: 0;
  }