.about-page{
    color: white;
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin-bottom: 0vh;
}
.about-text{
    color: white;
    box-sizing: border-box;
    float: left;
    width: 100%;
    font-size: 3vh;
    margin-top: 20vh;
    text-align: center;
}